/* Tema Escuro */
body.dark {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

body.light {
    background-color: #f5f5f5;
    color: #333;
}

/* Estilos para alternar o tema */
#theme-toggle {
    background: none;
    border: none;
    color: #f5f5f5;
    font-size: 1.5rem;
    cursor: pointer;
}

body.light #theme-toggle {
    color: #333;
}
